<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="img/logo-mercado-liebre.svg" class="logo">
        
                    <div class="barraDeBusqueda">
                <form method="POST" action="#" class="buscar">
                    <label for="Buscar"></label>
                    <input type="search" name="Buscar"  id="Buscar" placeholder="Buscar Productos, Marcas...">
                    <button type="button">               
                        <div class="icono">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </button>
                </form>           
            </div>
        
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </h2>
      </div>
        
        <div class="burger-menu">
          <a href="#" class="burger-menu"></a>
           <i class="fas fa-bars"></i>
        </div>
      </a>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tienda Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresa </a><i class="fa-solid fa-arrow-right-from-bracket"></i>
          </li>
          <li class="search-bar">
            <a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
    </header>

            <section class="banner">
      <img src="img/img-home-banner.jpg" alt="banner">
        </section>
    <main>
     
      <!-- Seccion Basado en tu ultima visita -->
      <h3 class="ofertas">Basado en tu ultima visita</h3>
<div class="productos">
  <!-- Cafetera -->
  <div class="contenedor">
    <section class="titular">
      <section class="producto">
        <img
        class="loading"
        width="300px"
        src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
           />
          </section>
        </section>

     <!-- Descripcion -->
      <section class="titular-descripcion">
      <section class="product-descp">
        <ul >
          <section>
            <div class="camionfull">
              <section class="camion"><i class="fas fa-truck"></i></section>
            </div>
            <div class="contenedor-precio">
              <li class="price">$6.770</li>
              <li class="descuento">40% OFF </li>
            </div>
            <li class="descpription">Cafetera Moulinex</li>
          </section>
        </ul>
      </section>
      </section>
</div>
<!-- MacBook Pro -->
<div class="contenedor"> 
  <section class="titular">
    <section class="producto">
      <img
      class="loading"
      width="300px"
             src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"
           />
        </section>
      </section>
      <!-- Descripcion -->
      <section class="titular-descripcion">
      <section class="product-descp">
        <ul >
          <section>
            <div class="camionfull">
              <section class="camion"><i class="fas fa-truck"></i></section>
            </div>
            <div class="contenedor-precio">
              <li class="price">$230.000</li>
              <li class="descuento">20% OFF </li>
            </div>
            <li class="descpription">MacBook Pro 2019</li>
          </section>
        </ul>
      </section>
    </section>
  </div>
  

  
  <!-- Samsung Galaxy S10 -->
  <div class="contenedor">

    <section class="titular">
      <section class="producto">
        <img
        class="loading"
        width="300px"
        src="img/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10"
           />
          </section>
      </section>
      <!-- Descripcion -->
      <section class="titular-descripcion">
      <section class="product-descp">
        <ul >
          <section>
            <div class="camionfull">
              <section class="camion"><i class="fas fa-truck"></i></section>
            </div>
            <div class="contenedor-precio">
              <li class="price">$70.500</li>
              <li class="descuento">10% OFF </li>
            </div>
            <li class="descpription">Samsung Galaxy S10</li>
          </section>
        </ul>
      </section>
    </section>
  </div>
      <!-- Tv Smart -->
      <div class="contenedor">
        
        <section class="titular">
          <section class="producto">
            <img
            class="loading"
            width="300px"
            src="img/img-tv-samsung-smart.jpg" alt="Tv samsung smart 43"
           />
        </section>
      </section>
      <!-- Descripcion -->
      <section class="titular-descripcion">
      <section class="product-descp">
        <ul >
          <section>
            <div class="camionfull">
              <section class="camion"><i class="fas fa-truck"></i></section>
            </div>
            <div class="contenedor-precio">
              <li class="price">$23.000</li>
              <li class="descuento">5% OFF </li>
            </div>
            <li class="descpription">SmartTv Samsung 43"</li>
          </section>
        </ul>
      </section>
    </section>
  </div>
</div>
</div>

      <!-- Seccion ofertas -->
      <h3 class="ofertas">Ofertas</h3>
      <div class="productos">
        <!-- Cafetera -->
        <div class="contenedor">
          <section class="titular">
            <section class="producto">
              <img
              class="loading"
              width="300px"
              src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"
                 />
                </section>
              </section>
      
           <!-- Descripcion -->
            <section class="titular-descripcion">
            <section class="product-descp">
              <ul >
                <section>
                  <div class="camionfull">
                    <section class="camion"><i class="fas fa-truck"></i></section>
                  </div>
                  <div class="contenedor-precio">
                    <li class="price">$6.770</li>
                    <li class="descuento">40% OFF </li>
                  </div>
                  <li class="descpription">Cafetera Moulinex</li>
                </section>
              </ul>
            </section>
            </section>
      </div>
      <!-- MacBook Pro -->
      <div class="contenedor"> 
        <section class="titular">
          <section class="producto">
            <img
            class="loading"
            width="300px"
                   src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019"
                 />
              </section>
            </section>
            <!-- Descripcion -->
            <section class="titular-descripcion">
            <section class="product-descp">
              <ul >
                <section>
                  <div class="camionfull">
                    <section class="camion"><i class="fas fa-truck"></i></section>
                  </div>
                  <div class="contenedor-precio">
                    <li class="price">$230.000</li>
                    <li class="descuento">20% OFF </li>
                  </div>
                  <li class="descpription">MacBook Pro 2019</li>
                </section>
              </ul>
            </section>
          </section>
        </div>
        
      
        
        <!-- Samsung Galaxy S10 -->
        <div class="contenedor">
      
          <section class="titular">
            <section class="producto">
              <img
              class="loading"
              width="300px"
              src="img/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy S10"
                 />
                </section>
            </section>
            <!-- Descripcion -->
            <section class="titular-descripcion">
            <section class="product-descp">
              <ul >
                <section>
                  <div class="camionfull">
                    <section class="camion"><i class="fas fa-truck"></i></section>
                  </div>
                  <div class="contenedor-precio">
                    <li class="price">$70.500</li>
                    <li class="descuento">10% OFF </li>
                  </div>
                  <li class="descpription">Samsung Galaxy S10</li>
                </section>
              </ul>
            </section>
          </section>
        </div>
            <!-- Tv Smart -->
            <div class="contenedor">
              
              <section class="titular">
                <section class="producto">
                  <img
                  class="loading"
                  width="300px"
                  src="img/img-tv-samsung-smart.jpg" alt="Tv samsung smart 43"
                 />
              </section>
            </section>
            <!-- Descripcion -->
            <section class="titular-descripcion">
            <section class="product-descp">
              <ul >
                <section>
                  <div class="camionfull">
                    <section class="camion"><i class="fas fa-truck"></i></section>
                  </div>
                  <div class="contenedor-precio">
                    <li class="price">$23.000</li>
                    <li class="descuento">5% OFF </li>
                  </div>
                  <li class="descpription">SmartTv Samsung 43"</li>
                </section>
              </ul>
            </section>
          </section>
        </div>
      </div>
      </div>
    </main>
<div class="espacios"></div>
<div class="espacios"></div>
    <footer>
      <div class="info">
      <section class="icon">
      <i class="fa-solid fa-credit-card"></i>
    </section>
      <h2 class="description">
        Pagá con tarjeta o en efectivo </h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin
          interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </p>
    </div>
    <div class="info">
      <section class="icon">
      <i class="fa-solid fa-gift"></i>
    </section>
      <p>
        <h2>Envío gratis desde $ 2.500</h2> Solo por estar registrad@ en Mercado Liebre
        tenés envíos gratis en miles de productos. Es un beneficio de Mercado
        Puntos.
      </p>
    </div>
    <div class="info">
      <section class="icon">
      <i class="fa-solid fa-user-shield"></i>
    </section>
      <p>
        <h2>Seguridad, de principio a fin </h2>¿No te gusta? ¡Devolvelo! En Mercado
        Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
      </p>
    </div>
      <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
