<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form.css" />
    
    <link rel="stylesheet" href="css/form.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="img/logo-mercado-liebre.svg" class="logo">
        
                    <div class="barraDeBusqueda">
                <form method="POST" action="#" class="buscar">
                    <label for="Buscar"></label>
                    <input type="search" name="Buscar"  id="Buscar" placeholder="Buscar Productos, Marcas...">
                    <button type="button">               
                        <div class="icono">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </button>
                </form>           
            </div>
        
        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </h2>
      </div>
        
        <div class="burger-menu">
          <a href="#" class="burger-menu"></a>
           <i class="fas fa-bars"></i>
        </div>
      </a>
      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tienda Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="/login">Ingresa </a><i class="fa-solid fa-arrow-right-from-bracket"></i>
          </li>
          <li class="search-bar">
            <a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
    </header>

            <section class="banner">
      <img src="img/img-home-banner.jpg" alt="banner">
        </section>
    <main id="main">
        <section class="cont-formulario">
            <form action="" method="post">
                <div>
                    <label for="Usuario"></label>
                    <input type="text" placeholder="Nombre de usuario" required>
                </div>
                <div>
                    <label for="Contraseña"></label>
                    <input type="password" placeholder="Contraseña" required>
                </div>
                <div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="info">
        <section class="icon">
        <i class="fa-solid fa-credit-card"></i>
      </section>
        <h2 class="description">
          Pagá con tarjeta o en efectivo </h2>
          <p>Con Mercado Liebre Cash, tenés cuotas sin
            interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </p>
      </div>
      <div class="info">
        <section class="icon">
        <i class="fa-solid fa-gift"></i>
      </section>
        <p>
          <h2>Envío gratis desde $ 2.500</h2> Solo por estar registrad@ en Mercado Liebre
          tenés envíos gratis en miles de productos. Es un beneficio de Mercado
          Puntos.
        </p>
      </div>
      <div class="info">
        <section class="icon">
        <i class="fa-solid fa-user-shield"></i>
      </section>
        <p>
          <h2>Seguridad, de principio a fin </h2>¿No te gusta? ¡Devolvelo! En Mercado
          Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </footer>
</body>
</html>